*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: lightgreen;
}

.centeredContainer{
    margin:10px;
    padding:12px;
    height:90%;
    width:90%;
    background-color:white;
}
.sections{
    display:flex;
    align-items:center;
    justify-content:space-between;

}
fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}

legend {
    font-weight: bold;
    padding-left:25px;
}
.age-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.age-container label {
    flex: 1 1 45%; /* Adjust the width to fit two items per row */
    box-sizing: border-box;
}